<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <title>Home</title>
</head>
<body>
<div class="container">
    <h1 class="text-center mt-5 mb-2">Get Job</h1>
    <img class="img-fluid" src="../static/images/hero_image.png" alt="Job Image">
    <h2 class="text-center mt-2 mb-2"> About Our Plateform</h2>
    <p class="text-center mt-5 mb-5">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae voluptatibus aliquam architecto quidem eveniet error ea recusandae magni perferendis ullam, commodi accusamus voluptatem labore amet, reprehenderit assumenda blanditiis facere autem libero veniam saepe animi obcaecati? Odio fugiat praesentium, dolor vitae quasi alias, accusamus libero, eos repudiandae aliquam quidem animi illum.</p>
    <h2 class="text-center mt-2 mb-2 ">Open Position</h2>
    <p class="text-center mt-2 mb-2">Under Development</p>
    <div class="text-center mt-2 mb-2">
        <button class="btn btn-primary btn-lg" >Contact Us</button>
    </div>
</div>
</body>
</html>